<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html lang="en">
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
            <title></title>

            <style type="text/css">
                body {
                    margin: 0; /* Eliminar márgenes predeterminados del cuerpo */
                font-family: 'SF Pro Display', sans-serif; /* Usar la fuente SF Pro Display */
                }
                center > table {
                    width: 950px;
                }
                center > table > tbody > tr > td:nth-child(1),
                center > table > tbody > tr > td:nth-child(3) {
                    width: 15%;
                }
                center > table > tbody > tr > td:nth-child(2) {
                    width: 600px;
                }
                center
                    > table
                    > tbody
                    > tr
                    > td:nth-child(2)
                    > table
                    > tbody
                    > tr
                    > td
                    > table {
                    padding-left: 113px;
                    padding-right: 104px;
                    padding: 60px 70px 60px;
                }
                @media (max-width: 601px) {
                    center > table {
                        width: 100%;
                    }
                    center > table > tbody > tr > td:nth-child(1),
                    center > table > tbody > tr > td:nth-child(3) {
                        width: 0;
                    }
                    center > table > tbody > tr > td:nth-child(2) {
                        width: 100%;
                    }
                    center
                    > table
                    > tbody
                    > tr
                    > td:nth-child(2)
                    > table
                    > tbody
                    > tr
                    > td
                    > table {
                        padding-left: 15px !important;
                        padding-right: 15px !important;
                        padding: 15px;
                    }
                }

                .horizontal-line {
                    border-bottom: 1px solid #A4A4A4;
                    /* Puedes ajustar el grosor y el color de la línea según tus preferencias */
                    margin: 20px 0;
                    /* Puedes ajustar el margen superior e inferior según tus necesidades */
                }
            </style>
        </head>
        <body style="margin: 0; padding: 30px 0; min-width: 100%!important;">
        <!-- wrapper -->
            <center>
                <table align="center" cellspacing="0" cellpadding="0">
                    <tr>
                        <!-- add &nbsp; to ensure it will be rendered -->
                        <td>&nbsp;</td>
                        <!-- in the middle cell you set your max-width -->
                        <!-- notice double declaration for yahoo in html attribute -->
                        <td align="center" valign="top">
                        <!-- this table scales up to parent cell -->
                            <table
                                align="center"
                                border="0"
                                width="100%"
                                style="width: 100%"
                                cellspacing="0"
                                cellpadding="0"
                            >
                                <tr>
                                <!-- content!! -->
                                    <td align="center" class="table-border" style="font-family:Arial; font-size: 14px; border-radius: 2px; max-height: 565px; max-width: 699px;">
                                        <table
                                            class="content-table"
                                            width="100%"
                                            height="100px"
                                            bgcolor="#ffffff"
                                            style="font-family: sans-serif; color: #040028; line-height: 130%; font-weight: 100; font-size: 16px; border-radius: 10px;"
                                        >
                                            <tr>
                                                <td height="35px" style="font-size: 1px; line-height: 1px; padding-top: 0; padding-bottom: 0;" ></td>
                                            </tr>
                                            <tr>
                                                <td align="center" height="80px" style="font-size: 1px; line-height: 1px; padding-top: 0; padding-bottom: 0;" >
                                                    <img alt="Logo" width="70px" src="https://wabu-development.s3.amazonaws.com/default/email/wabu-logo.png" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="50px" style="font-size: 1px; line-height: 1px; padding-top: 0; padding-bottom: 0;" ></td>
                                            </tr>
                                            <tr>
                                                <td align="center"
                                                    style="
                                                        color: #103E64;
                                                        text-align: center;
                                                        font-family: 'SF Pro Display', sans-serif;
                                                        font-size: 65px;
                                                        font-style: normal;
                                                        font-weight: 700;
                                                        line-height: normal
                                                    ";
                                                >
                                                    Hola, {{ name }}:<br />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="15px" style="font-size: 1px; line-height: 1px; padding-top: 0; padding-bottom: 0;" ></td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="
                                                    color: #103E64;
                                                    text-align: center;
                                                    font-family: 'SF Pro Display', sans-serif;
                                                    font-size: 33px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: normal;
                                                " >
                                                    Recibimos una solicitud para ingresar a Wabu.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="
                                                    color: #103E64;
                                                    text-align: center;
                                                    font-family: 'SF Pro Display', sans-serif;
                                                    font-size: 33px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: normal;
                                                " >
                                                    Ingresa el siguiente código:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="15px" style="font-size: 1px; line-height: 1px; padding-top: 0; padding-bottom: 0;" ></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center; padding-top: 0; padding-bottom: 0;">
                                                    <span
                                                        style="
                                                            font-size: 40px; 
                                                            font-weight: bold; 
                                                            color: #FFF;
															background-color: #1283FF;
                                                            display: inline-block;
                                                            margin: auto;
                                                            line-height: 67px;
                                                            width: 300px;
                                                            height: 70px;
                                                            border-radius: 25px;"
                                                    >{{ code }}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="15px" style="font-size: 1px; line-height: 1px; padding-top: 0; padding-bottom: 0;"></td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="
                                                    color: #103E64;
                                                    text-align: center;
                                                    font-family: 'SF Pro Display', sans-serif;
                                                    font-size: 25px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: normal;
                                                " > Úsalo para acceder a tu cuenta. <br>
                                                 Gracias,<br>
                                                 El equipo de Wabu
                                                </td>
                                            </tr>
                                            
                                    <tr>
                                        <td align="center">
                                            <div class="horizontal-line"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="
                                            color: #00315B;
                                            font-family: 'SF Pro Display, sans-serif;
                                            font-size: 1px;
                                            font-style: normal;
                                            font-weight: 700;
                                            line-height: normal;
                                        "> ¿No solicitaste este cambio? <br> Si no solicitaste una nueva contraseña,<a href="https://www.google.com/">avisanos</a></td>
                                    </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- add &nbsp; to ensure it will be rendered -->
                        <td>&nbsp;</td>
                    </tr>
            </table>
        </center>
    </body>
</html>